<div class="block">
  <div class="imagen">
  <img src="./multimedia/images/Imagendesobrenosotros.jpg">
</div>

<div class="texto">
  <h1>Historia</h1>
  <p>
    En 1985, Fran Lively disfrutó cenando en El vagon del vago, que entonces tenía 15 meses. 
    Al enterarse de que iba a cerrar, compró el restaurante y, en los años siguientes, 
    inculcó un amor amable y sincero por servir a los demás. 
    Desde entonces, Via Reál se ha convertido en un hermoso y exitoso establecimiento de Las Colinas conocido en todo el 
    país por su relajado estilo santafesino y 
    su deliciosa cocina mexicana y del suroeste.
  </p>
</div>
</div>
<hr>

<div class="Row">
  <div class="Column">
    <h1>Mision</h1><br>
    <p>
      Es servir los platillos típicos de la mano de expertos al pueblo,<<br> 
      expandiendo nuestra cultura  <br> y  haciendo que nuestros clientes se sientan como en casa.
    </p>  
  </div>
  <div class="Column">
    <h1>Vision</h1><br>
    <p>
      Ser la cadena de comida más reconocida y <br> enseñarle a cerca de costumbres y nuestra cultura nativa.
    </p>
  </div>
  <div class="Column">
    <h1>Valores</h1><br>
    <p>
      Diversidad: Expandir la cultura respetando las distintas culturas y <br> personas que coman con nosotros.
    </p>
  </div>
</div>
<div class="anuncio">

</div>