 
 <div class="inicioimg">
   <img class="imagenp" src="multimedia/images/fondopostres1.jpg.png">
 </div>

 <div class="postres">
    <div class="text1">
       <h1>CRÈME BRÛLÉE DE <br>
          CHOCOLATE BLANCO</h1><br>
       <p>
         Elegante chocolate blanco y crème brûlée Grand Marnier <br> cubierto con azúcar caramelizada.
       </p>
    </div>
    <div class="imagen1">
       <img src="multimedia/images/imagen1postres.png">
    </div>
</div>

  <div class="postres">
     <div class="imagen2">
      <img src="multimedia/images/imagen2postres.png">
     </div>
     <div class="text2">
        <h1>FLAN DE VAINILLA</h1>
        <p>
         Natillas con infusión de vainas de vainilla con una salsa <br>ligera de caramelo.
        </p>
     </div>
   </div>

   <div class="postres">
      <div class="text3">
         <h1>PASTEL DE CHOCOLATE Y <br>FRAMBUESA</h1><br>
         <p>
            Tres capas de chocolate con mermelada de frambuesa <br> cubiertas con mini chispas de chocolate
         </p>
      </div>
      <div class="imagen3">
         <img src="multimedia/images/imagen3postres.png">
      </div>
  </div>

  <div class="postres">
   <div class="imagen4">
    <img src="multimedia/images/imagen4postres.png">
   </div>
   <div class="text4">
      <h1>PASTEL DE LIMA</h1>
      <p>
         Verdadera tarta de lima con una acidez perfecta que llena la <br> corteza de una galleta Graham.
      </p>
   </div>
 </div>


 <div class="Menu">
          <div class="Encabezado">
              <h5>COMPLETO</h5>
              <h1>MENÚ DE POSTRES</h1>
           </div>
    
    <div class="contenido">
      <div class="menuleft">

              <div class="texto1">
            <h1>FLAN DE VAINILLA</h1> <br>
            <p>Natillas con infusión de vainas de vainilla con una salsa ligera de caramelo.</p>
         </div> 

         <div class="texto2">
            <h1>PASTEL DE LIMA</h1> <br>
            <p>Verdadera tarta de lima con una acidez perfecta que llena la corteza de una galleta Graham.</p>
         </div>

          <div class="texto3">
            <h1>PUDÍN DE PAN</h1> <br>
            <p>Hecho en casa con piña y chispas de chocolate, y cubierto con helado de vainilla Henry's.</p>
         </div>
      </div>

      <div class="menuright">

         <div class="texto4">
            <h1>CRÈME BRÛLÉE DE CHOCOLATE BLANCO</h1> <br>
            <p>Elegante chocolate blanco y crème brûlée Grand Marnier cubierto con azúcar caramelizada.</p>
         </div>
        
         <div class="texto5">
            <h1>PASTEL DE MOUSSE DE CHOCOLATE GEMELO</h1> <br>
            <p>Sedoso mousse de chocolate semidulce y chocolate blanco en capas sobre una corteza de galleta.</p>
         </div>

         <div class="texto6">
            <h1>CHEESECAKE DE NUECES Y CARAMELO</h1> <br>
            <p>Tarta de queso casera sobre una base de galletas Graham de chocolate en capas con nueces picadas y caramelo.</p>
         </div>

         <div class="texto7">
            <h1>TARTA DE CHOCOLATE Y FRAMBUESA</h1> <br>
            <p>Tres capas de chocolate con mermelada de frambuesa cubiertas con mini chispas de chocolate.</p>
         </div>
      </div>
   </div>