<div class="inicioimg">
  <img class="imagenp" src="multimedia/images/fondoBebidas.jpg.png">
</div>

<div class="postres">
   <div class="text1">
      <h1>VINOS</h1><br>
      <p>
        El objetivo de nuestra Carta de Vinos general es presentar una cuidada y <br> 
        completa selección de vinos de todo el mundo que se adapten mejor a sus <br>
        gustos, y está en constante evolución con diferentes variedades y añadas.<br>
        Desde pequeñas bodegas en California hasta marcas de renombre mundial <br>
        de Francia, esperamos ofrecer una emocionante variedad de estilos y gustos<br>
        distintos.
      </p>
   </div>
   <div class="imagen1">
      <img src="multimedia/images/botellaBebidas.png">
   </div>
</div>

 <div class="postres">
    <div class="imagen2">
     <img src="multimedia/images/copaBedidas.png">
    </div>
    <div class="text2">
       <h1>CARTA DE VINOS DE<br>
        RESERVA DE FRAN</h1>
       <p>
        También presentamos con orgullo una selección especial cuidadosamente <br>
        seleccionada, Fran's Reserve Wine List. Seleccionados a mano por nuestro<br>
        Sommelier, estos vinos son un complemento fenomenal para la excepcional<br>
        cocina del suroeste de Santa Fe de Via Reál. Pregunte a su mesero por las <br>
        añadas disponibles.
       </p>
    </div>
  </div>

  <div class="postres">
     <div class="text3">
        <h1>MARGARITAS <br>PREMIUM</h1><br>
        <p>
          ¡Nuestras opciones de margarita son abundantes y deliciosas! Lo invitamos a crear su receta <br> 
          personalizada con una línea completa de boutiques y clásicos Blancos, Reposados ​​y Añejos. <br> 
          Desde nuestra exclusiva Via Rita (¡la favorita de Fran!), Hasta nuestra House Margarita hecha<br> 
          con tequila premium de alta calidad y nuestra receta especial de Skinny Margarita, Azunia<br> 
          Organica, y muchas más, tenemos una margarita que te encantará.
        </p>
     </div>
     <div class="imagen3">
        <img src="multimedia/images/margaritaBebidas.png">
     </div>
 </div>
</div>