<div class="encabezado">
    <h6>ACERCA DE</h6>
 <h1>CONOCER AL EQUIPO</h1>
</div>
<div class="block">
    <div class="container">
        <div class="div-img" >
            <div class="chefs1">
                <img src="multimedia/images/chefsSkinner.png">
               </div>
          <div class="text">What's up?</div>
        </div>
      </div>
    
    <div class="chefs2">
        <img src="multimedia/images/coletteChefs.jpg">
    </div>
    <div class="chefs3">
        <img src="multimedia/images/remyChefs.jpg">
    </div>
</div>