<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">telefono</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < results.length; i++) { %>
      <tr>
        <td><%= results[i].id %></td>
        <td><%= results[i].Nombre %></td>
        <td><%= results[i].Correo %></td>
        <td><%= results[i].Telefono %></td>
      </tr>
      <%} %>
    </tbody>
  </table>