<div class="imagen">
    <img src="multimedia/images/restauranteIMG 1.jpg">
</div>

<div class="formulario">
  <center><h1>Registrate aqui</h1>
  <p>Aqui te puedes reservar una mesa para actividades, cumpleaños, etc.</p></center>
    <div class="forms">
        <form action="/Reservaciones" method="POST">
          <input type="text" name="nombre" placeholder="Nombre" required>
          <input type="email" name="correo" placeholder="Correo" required>
          <input type="text" name="telefono" placeholder="Telefono" required>
          <Textarea name="mensaje"  placeholder="Escriba aqui su mensaje" required></Textarea>
          <button type="submit" value="ENVIAR" id="boton">ENVIAR</button>
        </form>
       </div>

</div>
<div class="H8">

</div>