<div class="inicioimg">
    <img class="imagenp" src="multimedia/images/Fondocena.jpg">
  </div>
 
  <div class="postres">
     <div class="text1">
        <h1>CÓCTEL DE CAMARÓN</h1><br>
        <p>
            Cuatro camarones jumbo con nuestra salsa Cóctel casera.
        </p>
     </div>
     <div class="imagen1">
        <img src="multimedia/images/imagen1cena.png">
     </div>
 </div>
 
   <div class="postres">
      <div class="imagen2">
       <img src="multimedia/images/imagen2cena.png">
      </div>
      <div class="text2">
         <h1>LUBINA CHILENA</h1>
         <p>
            Lubina incrustada de nueces, espárragos salteados, papas al <br> cilantro y salsa de crema de piña.
         </p>
      </div>
    </div>
 
    <div class="postres">
       <div class="text3">
          <h1>SOLOMILLO AHUMADO <br>DE ROBLE ROJO</h1><br>
          <p>
            10 oz de lomo de res, papas Yukon, verduras asadas y semi- <br> glaseado de la casa.
          </p>
       </div>
       <div class="imagen3">
          <img src="multimedia/images/imagen3cena.png">
       </div>
   </div>
 
   <div class="postres">
    <div class="imagen4">
     <img src="multimedia/images/imagen4cena.png">
    </div>
    <div class="text4">
       <h1>LOMO DE CERDO</h1>
       <p>
        Lomo de cerdo con hueso asado al horno, cortado de 12 oz <br> de grosor, con demi-glace de la casa, papas Yukon doradas y <br> pera escalfada al vino de Oporto.
       </p>
    </div>
  </div>

  <div class="postres">
    <div class="text3">
       <h1>ESCALOPAS</h1><br>
       <p>
        Vieiras gigantes con incrustaciones de nueces de macadamia<br> con salsa de mango y albahaca y ensalada de peras <br> escalfadas al vino de Oporto.
       </p>
    </div>
    <div class="imagen3">
       <img src="multimedia/images/imagen5cena.png">
    </div>
</div>

<div class="postres">
    <div class="imagen4">
     <img src="multimedia/images/imagen6cena.png">
    </div>
    <div class="text4">
       <h1>ENCHILADAS DE <br> CANGREJO Y <br> CAMARONES ADOBO</h1>
       <p>
        Adobo de camarones jumbo a la parrilla sobre enchiladas de <br> cangrejo, con salsa de mango y frijoles negros y salsa de <br> mantequilla de limón.
       </p>
    </div>
  </div>

  <div class="Menu">
   <div class="Encabezado">
       <h5>COMPLETO</h5>
       <h1>MENÚ DE CENA</h1>
    </div>

<div class="contenido">
<div class="menuleft">
<h1 class="dorado">APERITIVOS</h1>
       <div class="texto1">
     <h1>PASTEL DE CANGREJO</h1> <br>
     <p>Aderezo de maíz tostado y piña con remoulade de chipotle</p>
  </div> 
<br>
  <div class="texto2">
     <h1>NACHOS DE FAJITA</h1> <br>
     <p>Pollo y ternera a la parrilla con frijoles negros, guacamole,<br>crema agria y pico de gallo.</p>
  </div>
<br>
   <div class="texto3">
     <h1>CALAMARES CRUJIENTES</h1> <br>
     <p>Servido con salsa marinara picante.</p>
  </div>
  <br>
  <div class="texto3">
   <h1>GUACAMOLE FRESCO</h1> <br>
   <p>Sirve cuatro</p>
</div>
<br>
<div class="texto3">
   <h1>FLAUTAS DE PECHUGA AHUMADA</h1> <br>
   <p>Compota de crema de lima</p>
</div>
<br>
<div class="texto3">
   <h1>CEVICHE</h1> <br>
   <p>Camarones fríos y vieiras con jugo de limón y tomate.</p>
</div>
</div>

<div class="menuright">
 <h1 class="dorado">SOPAS Y ENSALADAS</h1>
  
 <div class="texto4">
     <h1>SOPA DE FRIJOL NEGRO</h1> <br>
     <p>Con crema agria de chipotle.</p>
  </div>
 
  <div class="texto5">
     <h1>SOPA DE TORTILLA</h1> <br>
     <p>Sedoso mousse de chocolate semidulce y chocolate blanco en capas sobre una corteza de galleta.</p>
  </div>

  <div class="texto6">
     <h1>ENSALADA DE MAÍZ TOSTADO CON<br>QUESO AZUL</h1> <br>
     <p>Maíz tostado, lechuga romana, tomate, aderezo de queso<br>chipotle-bleu y nueces picadas.</p>
  </div>
  <h1 class="dorado">ESPECIALIDADES DEL<br>SUROESTE</h1><br>
  <div class="texto7">
     <h1>TENTACION</h1> <br>
     <p>6 onzas. solomillo de ternera, a elegir entre dos vieiras o tres<br>
      camarones, verduras salteadas y patatas yukon.</p>
 </div>
  <div class="texto7">
     <h1>CAMARONES A LA DIABLA</h1> <br>
     <p>Camarones jumbo salteados en salsa Diabla con papas al<br>
      cilantro y espárragos al ajillo.</p>
</div>
</div>