<div class="encabezado">
    <h6>ACERCA DE</h6>
 <h1>CONOCER AL EQUIPO</h1>
</div>
<hr>
<div class="block">
   <div class="container1">
    <img src="multimedia/images/chefsSkinner.png" alt="Avatar" class="image1">
    <h1>Chefs Skinner</h1>
</div>

  <div class="container2">
    <img src="multimedia/images/coletteChefs.jpg" alt="Avatar" class="image2">
    <h1>Chefs Colette</h1>
  </div>

  <div class="container3">
    <img src="multimedia/images/remyChefs.jpg" alt="Avatar" class="image3">
    <h1>Chefs Linguini y Remy</h1>
  </div>
</div>