<div class="navbar">
          
    <div class="subnav">
      <button class="subnavbtn">Acerca de <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="/NuestraHistoria">Nuestra Historia</a>
        <a href="/Equipo">El equipo</a>
      </div>
    </div> 
    
    <div class="subnav">
      <button class="subnavbtn">Menus <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        
        <a href="/Almuerzo">Almuerzo</a>
        <a href="/Cena">Cena</a>
        <a href="/Postres">Postres</a>
        <a href="/Bebidas">Bebidas</a>
        
      </div>
    </div>
    <div class="center">
      <a href="/Home"><img src="/multimedia/images/logo2.png"></a>
    </div>
    <a href="/Reservaciones">Reservaciones</a>
    <a href="/Contactos">Contacto</a>
  </div>