*{
    background-color: gray;
    margin: 0;
    padding: 0;
}
body{
    width: 1902px;
    height: 4369px;
    display: block;
}
header{
    background-color: burlywood;
    width: 1902px;
    height: 79px;
}
.menu{
    width: 1902px;
    height: 3777px;
    background-color: lightsteelblue;
}
.footer{
    width: 1902px;
    height: 513px;
    background-color:lightslategray;
}