*{
    background-color: gray;
    margin: 0;
    padding: 0;
}
body{
    width: 1902px;
    height: 2844px;
    display: block;
}
header{
    background-color: burlywood;
    width: 1902px;
    height: 79px;
}
.imagen{
    width: 1902px;
    height: 479px;
    background-color: lightskyblue;
}
.formulario{
    width: 1902px; 
    height: 1773px;
    background-color: lightyellow;
}
.footer{
    width: 1902px;
    height: 513px;
    background-color:lightslategray;
}